<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="DataFlowAnalysisProduct"
         point="org.eclipse.core.runtime.products">
      <product
            name="DataFlowAnalysis Product"
            application="org.eclipse.ui.ide.workbench">
         <property
               name="appName"
               value="DataFlowAnalysis Product">
         </property>
      </product>
   </extension>

</plugin>
